# Dependencies
backend/node_modules
frontend/node_modules

# Environment Files
backend/.env
frontend/.env

# Build Files
backend/dist
frontend/dist

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode